body {
  font-family: sans-serif;
  color: #B0BED1;
  margin: 0;
  padding: 0;
  text-align: center;
}

.left {
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s, border 0.2s;
}

a:hover {
  color: #004F6D;
}

header {
  max-width: 1024px;
  margin: auto;
}

nav {
  margin: 0;
  padding: 15px 0 10px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #F2F2F2;
}

nav a {
  display: inline-block;
  margin: 0 20px;
  line-height: 2em;
  text-transform: uppercase;
  font-size: 0.8em;
}

.brand {
  margin: 0px auto 0px;
  max-width: 474px;
}

.brandtext {
  margin: 20px auto 0px;
  max-width: 474 px;
}

.brand img {
  width: 100%;
}

.brand .sub-title {
  font-size: 0.7em;
  margin-top: 0px;
  font-weight: 400;
}

.action-buttons {
  margin: 0 0 60px;
}

.action-buttons .button {
  padding: 12px;
  border: 2px solid #F2F2F2;
  margin: 0 5px;
  border-radius: 3px;
  font-size: 1.1em;
  line-height: 3.5em;
  white-space: nowrap;
}

.action-buttons .button:hover {
  border-color: #004F6D;
}

.action-buttons .button .version-number {
  display: inline-block;
  margin-left: 4px;
  font-size: 0.7em;
}

.screenshot-banner1 {
  margin-bottom: 100px;
  padding: 0 7%;
  background-color: #ECECEC;
}

.screenshot-banner {
  margin-bottom: 200px;
  padding: 0 7%;
  background-color: #ECECEC;
}

.screenshot-banner img {
  position: relative;
  margin-top: -71px;
  max-width: 100%;
  margin-bottom: -71px;
}


.screenshot-banner1 img {
  position: relative;
  margin-top: -30px;
  max-width: 100%;
  margin-bottom: -71px;
}

.hof {
  color: #000;
  background-color: #fff;
}

table {
  border-collapse: collapse;
  margin-left: 5%;
  width: 90%;
  color: #000;
  background-color: #fff;
  border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.hof td,th {
  border: 0px;
  padding: 8px;
}

th a {
  color: #165ccc;
  text-decoration: underline;
}

/*
th a:hover {
  color: #fff;
  background-color: #165ccc;
  text-decoration: underline;
}
*/ 

tr a {
  color: #165ccc;
  text-decoration: underline;
}

tr a:hover {
  color: #fff;
  background-color: #165ccc;
  text-decoration: underline;
}

tr:nth-child(even){background-color: #f2f2f2;}

/*
tr:hover {background-color: #ddd;}
*/

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
